{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<main class="container">
			<section>
				<h2>{{question.subject}}</h2>
				<div style="display: flex; justify-content: end">
					{{question.create_date}}
				</div>
			</section>
			<article>{{question.content}}</article>
			<h5>{{ question.answer_set|length }}개의 답변이 있습니다.</h5>
			<ul>
				{% for answer in question.answer_set %}
				<li>
					<header>{{answer.content}}</header>
					<footer style="display: flex; justify-content: end">
						{{answer.create_date}}
					</footer>
				</li>
				{% endfor %}
			</ul>

			<form
				action="{{url_for('answer.create', question_id=question.id) }}"
				method="post"
			>
				{{ form.csrf_token }} {% if form.errors %}
				<section>
					{% for field, errors in form.errors.items() %} {% for error in errors
					%}
					<input placeholder="{{error}}" aria-invalid="true" readonly />
					{% endfor %} {% endfor %}
				</section>
				{% endif %}
				<textarea name="content" id="content" rows="15"></textarea>
				<input type="submit" value="Submit" />
			</form>
		</main>
	</body>
</html>
{% endblock %}
