{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<main class="container">
			<table>
				<thead>
					<tr>
						<th>No</th>
						<th>Title</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					{% if question_list %}
					<tr>
						{% for question in question_list %}
						<td>{{ loop.index }}</td>
						<td>
							<a href="{{ url_for('question.detail', question_id=question.id)}}"
								>{{question.subject}}</a
							>
						</td>
						<td>{{ question.create_date }}</td>
						{% endfor %}
					</tr>
					{% else %}
					<tr>
						<td colspan="3">No Question</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</main>
	</body>
</html>
{% endblock %}
