{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<main class="container">
			<!-- Error Start -->
			{% for message in get_flashed_messages() %}
			<input aria-invalid="true" value="{{ message }}" />
			{% endfor %}
			<!-- Error End -->

			<!-- Question Start -->
			<section>
				<h2>{{question.subject}}</h2>
				<div>
					{% if g.user == question.user %}
					<a href="{{ url_for('question.modify', question_id=question.id) }}"
						>Modify</a
					>
					<a
						href="javascript:void(0)"
						class="delete"
						data-uri="{{ url_for('question.delete', question_id=question.id) }}"
						>Delete</a
					>
					{% endif %}
				</div>
				<div style="display: flex; justify-content: space-between">
					<small>{{ question.user.username }}</small>
					<div>
						<div>Create: {{ question.create_date|datetime }}</div>
						{% if question.update_time %}
						<div>Update: {{ question.update_date|datetime }}</div>
						{% endif %}
					</div>
				</div>

				<!-- Recommend Start -->
				<div>
					<a
						href="javascript:void(0)"
						data-uri="{{ url_for('question.vote', question_id=question.id) }}"
						class="recommend"
					>
						Recommend <span class="badge">{{ question.voter|length }}</span>
					</a>
				</div>
				<!-- Recommend End -->
			</section>
			<article>{{ question.content }}</article>

			<!-- Question End -->

			<!-- Answer List Start -->
			<h5>{{ question.answer_set|length }}개의 답변이 있습니다.</h5>
			<ul>
				{% for answer in question.answer_set %}
				<a id="answer_{{ answer.id }}"></a>
				<li>
					<header>{{answer.content}}</header>
					<footer style="display: flex; justify-content: space-between">
						<small>{{ answer.user.username }}</small>
						<div>
							<div>Create: {{ answer.create_date|datetime }}</div>
							{% if answer.update_date %}
							<div>Update: {{ answer.update_date|datetime }}</div>
							{% endif %}
						</div>
					</footer>
					<a
						href="javascript:void(0)"
						data-uri="{{ url_for('answer.vote', answer_id=answer.id) }}"
					>
						Recommend <span>{{ answer.voter|length }}</span>
					</a>
					<div>
						{% if g.user == answer.user %}
						<a href="{{ url_for('answer.modify', answer_id=answer.id) }}"
							>Modify</a
						>
						<a
							href="javascript:void(0)"
							class="delete"
							data-url="{{ url_for('answer.delete', answer_id=answer.id) }}"
							>Delete</a
						>
						{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>

			<!-- Answer List End -->

			<!-- Answer Form Start -->

			<form
				action="{{url_for('answer.create', question_id=question.id) }}"
				method="post"
			>
				{{ form.csrf_token }} {% if form.errors %}
				<section>
					{% for field, errors in form.errors.items() %} {% for error in errors
					%}
					<input placeholder="{{error}}" aria-invalid="true" readonly />
					{% endfor %} {% endfor %}
				</section>
				{% endif %}
				<textarea
					{%
					if
					not
					g.user
					%}
					disabled
					{%
					endif
					%}
					name="content"
					id="content"
					rows="15"
				></textarea>
				<input type="submit" value="Submit" />
			</form>
			<!-- Answer Form End -->
		</main>
	</body>
</html>
{% endblock %} {% block script %}
<script type="text/javascript">
	const delete_elements = document.getElementsByClassName('delete');
	Array.from(delete_elements).forEach((el) => {
		el.addEventListener('click', () => {
			if (confirm('Do you want to delete?')) {
				location.href = el.dataset.uri;
			}
		});
	});
	const recommend_elements = document.getElementsByClassName('recommend');
	Array.from(recommend_elements).forEach((el) => {
		el.addEventListener('click', () => {
			if (confirm('Recommend?')) {
				location.href = el.dataset.uri;
			}
		});
	});
</script>
{% endblock %}
