{% extends 'base.html' %} {% block content %}
<main class="container">
	<h5>Login</h5>
	<form method="post">
		{{ form.csrf_token }} {% include 'form_errors.html' %}
		<label for="username">Username</label>
		<input
			type="text"
			placeholder="Input Username"
			name="username"
			id="username"
			value="{{ form.username.data or '' }}"
		/>
		<label for="password">Password</label>
		<input
			type="password"
			placeholder="Input Password"
			name="password"
			id="password"
			value="{{ form.password.data or '' }}"
		/>
		<button type="submit">Login</button>
	</form>
</main>
{% endblock %}
